<!DOCTYPE html>
<html>
<head>
<title>Become Ambassador</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
	<div class="container">
	<p style="margin-top: 50px;"><span style="color: blue; size: 25px;"><b>Q:</b></span>&nbsp<%=q1%></p>
	
	<label><input type="checkbox" name="" value="">&nbsp<%-chk1_1%></label><br/>
	<label><input type="checkbox" name="" value="">&nbsp<%-chk1_2%></label><br />
	<label><input type="checkbox" name="" value="">&nbsp<%=chk1_3%></label><br/>
	<label><input type="checkbox" name="" value="">&nbsp<%=chk1_4%></label><br/>

	<pstyle="margin-top: 50px;"><span style="color: blue; size: 25px;"><b>Q:</b></span>&nbsp<%=q2%></p>
	<label><input type="checkbox" name="" value="">&nbsp<%=chk1_1%></label><br/>
	<label><input type="checkbox" name="" value="">&nbsp<%-chk1_2%></label><br />
	<label><input type="checkbox" name="" value="">&nbsp<%=chk1_3%></label><br/>
	<label><input type="checkbox" name="" value="">&nbsp<%=chk1_4%></label><br/>

	<button class="btn btn-primary center-block" style="width: 80%; margin-top: 70px;" onclick="window.location.replace('http://<%=host%>:<%=port%>/mobile/congratulationpage?token=<%=token%>')">Submit</button>
    </div>
 	
 	
	
</div>
</body>
</html>