<!DOCTYPE html>
<html>
<head>
<title>Become Ambassador</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type='text/javascript'>
           function getVal(){
           	window.location = 'oz:quessionare'
           }

        </script>


<style type="text/css">
	
	.regular:focus { 
	    outline : none;	
	}
        #button:focus { 
            outline : none;
        }
</style>
</head>
<body style="background-color: #f0f1f5">
	<div class="container" >
		
				<div style="padding: 0px 10px">
					<div style="width: 100%">
						<div style="width: 5%;float: left;">
							<p style="margin-top: 30px; color: blue;"><span style="size: 25px;"><b>Q:</b></span></p>
						</div>
						<div style="width: 95%; float: left">
							<p style="margin-top: 30px;">&nbsp&nbsp<%=q1%></p>
						</div>
					</div>
	
					
					<div style="width: 100%">
						<div style="width: 7%; float: left;">
							<p><b style="color: blue">A: </b></p>
						</div>
						<form>
							<div style="width: 90%; float: left; margin-top: -3px">
								<input type="radio" name="gender" value="male1" style="transform: scale(1, 1);" checked>&nbsp<%-chk1_1%><br>
								<input type="radio" name="gender" value="male2" >&nbsp<%-chk1_2%><br>
								<input type="radio" name="gender" value="male3">&nbsp<%-chk1_3%><br>
								<input type="radio" name="gender" value="male4" >&nbsp<%-chk1_4%><br>	
							</div>
						</form>
					</div>
				

					<div style="width: 100%">
						<div style="width: 5%;float: left;">
							<p style="margin-top: 30px; color: blue;"><span style="size: 25px;"><b>Q:</b></span></p>
						</div>
						<div style="width: 95%; float: left;">
							<p style="margin-top: 30px;">&nbsp&nbsp<%=q2%></p>
						</div>
					</div>
	
					<div style="width: 100%">
						<div style="width: 5%; float: left;margin-bottom: 20px">
							<p><b style="color: blue">A: </b></p>
						</div>
						<form>
							<div style="width: 95%; float: left; margin-top: -3px">
								<input type="radio" name="gender1" value="male5" style="margin-top: -3px" checked>&nbsp<%-chk1_1%><br>
								<input type="radio" name="gender1" value="male6" >&nbsp<%-chk1_2%><br>
								<input type="radio" name="gender1" value="male7" >&nbsp<%-chk1_3%><br>
								<input type="radio" name="gender1" value="male8" >&nbsp<%-chk1_4%><br>
								
							</div>
						</form>
					</div>
				</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<button class="btn btn-primary center-block" id="button" style="width : 100%; margin-top: 20px;margin-bottom: 20px; padding: 15px; background-color: #267ddc" onclick="getVal()">Submit</button>
			</div>
		</div>
  
 	
 	
	
</div>
</body>
</html>