<!DOCTYPE html>
<html>
<head>
<title>Become Ambassador</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type='text/javascript'>
           function getVal(){
           	window.location = 'oz:quessionare'
           }

        </script>

</head>
<body>
	<div class="container" style="background-color: #f0f1f5">
		<div class="row row-centered">  
				<div style="padding: 0px 10px">
					<p style="margin-top: 50px;"><span style="color: blue; size: 25px;"><b>Q:</b></span>&nbsp<%=q1%></p>
	
					<label><input type="checkbox" name="" value="">&nbsp<%-chk1_1%></label><br/>
					<label><input type="checkbox" name="" value="">&nbsp<%-chk1_2%></label><br />
					<label><input type="checkbox" name="" value="">&nbsp<%=chk1_3%></label><br/>
					<label><input type="checkbox" name="" value="">&nbsp<%=chk1_4%></label><br/>

					<p style="margin-top: 50px;"><span style="color: blue; size: 25px;"><b>Q:</b></span>&nbsp<%=q2%></p>
					<label><input type="checkbox" name="" value="">&nbsp<%=chk1_1%></label><br/>
					<label><input type="checkbox" name="" value="">&nbsp<%-chk1_2%></label><br />
					<label><input type="checkbox" name="" value="">&nbsp<%=chk1_3%></label><br/>
					<label><input type="checkbox" name="" value="">&nbsp<%=chk1_4%></label><br/>
				</div>	
    	</div>
	</div>

	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<button class="btn btn-warning" style="width: 80% ; margin: 30px 0px;background-color: #267ddc " onclick="getValue()" >Submit</button>
		</div>
	</div>
</body>
</html>